
@{
    ViewData["Title"] = "AccessDenied";
}

<h1>Access Denied</h1>

<p>You do not have permission to access this page.</p>

<a asp-action="Index" asp-controller="Home" class="btn btn-primary">Back To Home</a>