@model CRVS.Core.Models.ViewModels.LoginViewModel

@{
    ViewData["Title"] = "Login";
    Layout = "_LoginLayout";
}

<div class="auth-box p-4 bg-white rounded">
    <div id="loginform">
        <div class="logo">
            <h3 class="box-title mb-3 text-center">Login</h3>
        </div>
        <!-- Form -->
        <div class="row">
            <div class="col-12">
                <form class="form-horizontal mt-3 form-material" id="loginform" asp-action="Login">
                    <div class="form-group mb-3">
                        <div class="">
                            <input asp-for="Email" class="form-control" placeholder="Email" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group mb-4">
                        <div class="">
                            <input asp-for="Password" class="form-control" placeholder="Password" />
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="d-flex">
                            <div class="checkbox checkbox-info pt-0">
                                <input id="checkbox-signup" type="checkbox" class="material-inputs chk-col-indigo">
                                <label for="checkbox-signup"> Remember me </label>
                            </div>
                            <div class="ms-auto">
                                <a href="javascript:void(0)" id="to-recover" class="link font-weight-medium d-flex align-items-center"><i class="ri-lock-line fs-5 me-1"></i> Forgot pwd?</a>
                            </div>
                        </div>
                    </div>
                    <div class="form-group text-center mt-4 mb-3">
                        <div class="col-xs-12">
                            <button class="btn btn-info d-block w-100 waves-effect waves-light" type="submit">Log In</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 mt-2 text-center">
                            <div class="social mb-3">
                                <a href="javascript:void(0)" class="btn  btn-facebook" data-bs-toggle="tooltip" title="Login with Facebook"> <i aria-hidden="true" class="ri-facebook-box-fill fs-4"></i> </a>
                                <a href="javascript:void(0)" class="btn btn-googleplus" data-bs-toggle="tooltip" title="Login with Google"> <i aria-hidden="true" class="ri-google-fill fs-4"></i> </a>
                            </div>
                        </div>
                    </div>
                    <div class="form-group mb-0 mt-4">
                        <div class="col-sm-12 justify-content-center d-flex">@*
                            <p>Don't have an account? <a asp-action="Register" class="text-info font-weight-medium ms-1">Sign Up</a></p>*@
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div id="recoverform">
        <div class="logo">
            <h3 class="font-weight-medium mb-3">Recover Password</h3>
            <span class="text-muted">Enter your Email and instructions will be sent to you!</span>
        </div>
        <div class="row mt-3 form-material">
            <!-- Form -->
            <form class="col-12" action="index.html">
                <!-- email -->
                <div class="form-group row">
                    <div class="col-12">
                        <input class="form-control" type="email" required="" placeholder="Username">
                    </div>
                </div>
                <!-- pwd -->
                <div class="row mt-3">
                    <div class="col-12">
                        <button class="btn d-block w-100 btn-primary text-uppercase" type="submit" name="action">Reset</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}