@model CRVS.Core.Models.ViewModels.RegisterViewModel
@{
    ViewData["Title"] = "Register";
}

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="border-bottom title-part-padding">
                <h4 class="card-title mb-0 text-center">إضافة موظف جديد</h4>
            </div>
            <div class="card-body wizard-content">
                <form asp-action="Register" class="login-form @*validation-wizard wizard-circle*@ mt-5" enctype="multipart/form-data" method="post">
                    <div class="row">
                        <div class="col-md-8">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input asp-for="FName" class="form-control required" placeholder="الإسم الأول*" />
                                        <span asp-validation-for="FName" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input asp-for="LName" class="form-control required" placeholder="الإسم الثاني *" />
                                        <span asp-validation-for="LName" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                        <input asp-for="Email" class="form-control required" placeholder="البريد الإلكتروني *" />
                                        <span asp-validation-for="Email" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">

                                    <div class="form-group">
                                        <input asp-for="Password" class="form-control required" placeholder="كلمة المرور *" />
                                        <span asp-validation-for="Password" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input asp-for="ConfirmPassword" class="form-control required" placeholder="تأكيد كلمة المرور *" />
                                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input asp-for="Phone" class="form-control required" placeholder="رقم الهاتف *" />
                                        <span asp-validation-for="Phone" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <select id="Roles" name="Roles" asp-for="Roles" class="form-control required" asp-items="ViewBag.Roles">
                                            <option value="" disabled selected hidden>-- حدد الوظيفة *--</option>
                                        </select>
                                    </div>
                                </div>
                            </div><hr />
                            @if (ViewBag.IsAdmin)
                            {
                                <div class="row mt-4">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <select id="GovernorateId" asp-for="GovernorateId" name="GovernorateId" class="form-control select2" asp-items="ViewBag.Governorates">
                                                <option value="" disabled selected hidden>-- @Localizer["SelectGovernorate"]* --</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <select id="DohId" asp-for="DohId" name="DohId" class="form-control select2" asp-items="ViewBag.Dohs">
                                                <option value="" disabled selected hidden>-- حدد الدائرة*--</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mt-3">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <select id="DistrictId" asp-for="DistrictId" name="DistrictId" class="form-control select2" asp-items="ViewBag.Districts">
                                                <option value="" disabled selected hidden>-- حدد القضاء*--</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <select id="NahiaId" name="NahiaId" asp-for="NahiaId" class="form-control select2" asp-items="ViewBag.Nahias">
                                                <option value="" disabled selected hidden>-- حدد الناحية*--</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                        <div class="border col-md-4 mb-2 rounded-3">
                            <div class="form-group d-flex flex-column align-items-center">
                                <div class="position-relative w-75 mb-md-2">
                                    <img id="default" src="~/Images/GoldenBidPerson1_TestPicture.png" class="rounded-circle w-100" />
                                    <img id="preview" src="#" alt="Preview" class="top-0 w-100 rounded-circle left-0" style="display: none;" />
                                </div>
                                <label class="p-0 bg-transparent">صورة شخصية (إختياري)</label>
                                <input asp-for="Img" class="form-control" onchange="previewImage(event)" />
                                <span asp-validation-for="Img" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    @if (ViewBag.IsAdmin)
                    {
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <input asp-for="Village" class="form-control required" placeholder="إسم القرية*" />
                                    <span asp-validation-for="Village" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <select id="FacilityTypeId" name="FacilityTypeId" asp-for="FacilityTypeId" class="form-control select2" asp-items="ViewBag.FacilityTypes">
                                        <option value="" disabled selected hidden>-- حدد نوع المؤسسة*--</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <select id="HealthInstitutionId" name="HealthInstitutionId" asp-for="HealthInstitutionId" class="form-control select2" asp-items="ViewBag.HealthInstitutions">
                                        <option value="" disabled selected hidden>-- حدد المؤسسة*--</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    }
                    <div class="d-flex form-group justify-content-center mt-4">
                    <input type="submit" value="إنشاء" class="btn btn-primary px-5" @*bottom-0 position-absolute start-0" *@ />
                        </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @*For Uploading the Image*@
    <script>
        function previewImage(event) {
            var input = event.target;
            var reader = new FileReader();
            reader.onload = function () {
                var defaultImgElement = document.getElementById("default");
                var previewImgElement = document.getElementById("preview");
                defaultImgElement.style.display = "none";
                previewImgElement.src = reader.result;
                previewImgElement.style.display = "block";
            };
            reader.readAsDataURL(input.files[0]);
        }
    </script>

    @*Filtering Doh after selecting Governorate*@
    <script>
        $(document).ready(function () {
            $('#GovernorateId').change(function () {
                var selectedGovernorateId = $(this).val();
                $.ajax({
                    url: '/Account/GetDohs',
                    type: 'GET',
                    data: { governorateId: selectedGovernorateId },
                    dataType: 'json',
                    success: function (data) {
                        var directorateDropdown = $('#DohId');
                        directorateDropdown.empty();
                        var selectOption = $('<option></option>').val('').text('-- حدد الدائرة*--');
                        selectOption.prop('disabled', true);
                        selectOption.prop('hidden', true);
                        selectOption.prop('selected', true);
                        directorateDropdown.append(selectOption);
                        $.each(data, function (index, item) {
                            var option = $('<option></option>').val(item.dohId).text(item.dohName);
                            directorateDropdown.append(option);
                        });
                    },
                    error: function (xhr, status, error) {
                        console.log(xhr.responseText);
                    }
                });
            });
        });
    </script>

    @*Filtering Districts after selecting Doh*@
    <script>
        $(document).ready(function () {
            $('#DohId').change(function () {
                var selectedDohId = $(this).val();
                $.ajax({
                    url: '/Account/GetDistricts',
                    type: 'GET',
                    data: { dohId: selectedDohId },
                    dataType: 'json',
                    success: function (data) {
                        var districtDropdown = $('#DistrictId');
                        districtDropdown.empty();
                        var selectOption = $('<option></option>').val('').text('-- حدد القضاء*--');
                        selectOption.prop('disabled', true);
                        selectOption.prop('hidden', true);
                        selectOption.prop('selected', true);
                        districtDropdown.append(selectOption);
                        $.each(data, function (index, item) {
                            var option = $('<option></option>').val(item.districtId).text(item.districtName);
                            districtDropdown.append(option);
                        });
                    },
                    error: function (xhr, status, error) {
                        console.log(xhr.responseText);
                    }
                });
            });
        });
    </script>

    @*Filtering Nahia after selecting Districts*@
    <script>
        $(document).ready(function () {
            $('#DistrictId').change(function () {
                var selectedDistrictId = $(this).val();
                var selectedDohId = $('#DohId').val();
                var selectedGovernorateId = $('#GovernorateId').val();

                $.ajax({
                    url: '/Account/GetNahias',
                    type: 'GET',
                    data: { districtId: selectedDistrictId, dohId: selectedDohId, governorateId: selectedGovernorateId },
                    dataType: 'json',
                    success: function (data) {
                        var nahiaDropdown = $('#NahiaId');
                        nahiaDropdown.empty();
                        var selectOption = $('<option></option>').val('').text('-- حدد الناحية*--');
                        selectOption.prop('disabled', true);
                        selectOption.prop('hidden', true);
                        selectOption.prop('selected', true);
                        nahiaDropdown.append(selectOption);
                        $.each(data, function (index, item) {
                            var option = $('<option></option>').val(item.nahiaId).text(item.nahiaName);
                            nahiaDropdown.append(option);
                        });
                    },
                    error: function (xhr, status, error) {
                        console.log(xhr.responseText);
                    }
                });
            });
        });
    </script>

    @*Filtering HealthInstitutions after selecting FacilityType*@
    <script>
        $(document).ready(function () {
            $('#FacilityTypeId').change(function () {
                var selectedFacilityTypeId = $(this).val();
                var selectedDohId = $('#DohId').val();
                var selectedGovernorateId = $('#GovernorateId').val();
                $.ajax({
                    url: '/Account/GetHealthInstitutions',
                    type: 'GET',
                    data: { facilityTypeId: selectedFacilityTypeId, dohId: selectedDohId, governorateId: selectedGovernorateId },
                    dataType: 'json',
                    success: function (data) {
                        var healthInstitutionDropdown = $('#HealthInstitutionId');
                        healthInstitutionDropdown.empty();
                        var selectOption = $('<option></option>').val('').text('-- حدد المؤسسة*--');
                        selectOption.prop('disabled', true);
                        selectOption.prop('hidden', true);
                        selectOption.prop('selected', true);
                        healthInstitutionDropdown.append(selectOption);
                        $.each(data, function (index, item) {
                            var option = $('<option></option>').val(item.healthInstitutionId).text(item.healthInstitutionName);
                            healthInstitutionDropdown.append(option);
                        });
                    },
                    error: function (xhr, status, error) {
                        console.log(xhr.responseText);
                    }
                });
            });
        });
    </script>

}