@model CRVS.Core.Models.ViewModels.ChangePassViewModel

@{
    ViewData["Title"] = "ChangePass";
}

<div class="container d-flex justify-content-center flex-column w-50 text-center">
    <h2 class="mb-4 display-5">تغيير كلمة المرور <br />الخاصة ب @Model.UserName</h2>
    <form asp-action="ChangePass" method="post">
        <div asp-validation-summary="All" class="text-danger"></div>
        <input asp-for="UserId" type="hidden">
        <input asp-for="UserName" type="hidden">
        <div class="form-group">
            <label for="NewPassword">كلمة السر الجديدة:</label>
            <input asp-for="NewPassword" type="password" class="form-control" id="NewPassword" name="NewPassword" required>
            <span asp-validation-for="NewPassword" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label for="ConfirmNewPassword">تأكيد كلمة السر:</label>
            <input asp-for="ConfirmNewPassword" type="password" class="form-control" id="ConfirmNewPassword" name="ConfirmNewPassword" required>
            <span asp-validation-for="ConfirmNewPassword" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-success my-2 w-100"><i class="bi bi-shield-check"></i> حفظ</button>
        <a asp-action="PersonalInfo" class="btn btn-outline-warning mb-4 mt-2 w-75"><i class="bi bi-arrow-left-circle"></i> العودة</a>
    </form>
</div>
