@{
    ViewData["Title"] = "Home Page";
}

<div class="container-fluid">
    <!-- -------------------------------------------------------------- -->
    <!-- Bread crumb and right sidebar toggle -->
    <!-- -------------------------------------------------------------- -->
    <div class="row page-titles">
        <div class="col-md-5 col-12 align-self-center">
            <h3 class="text-themecolor mb-0">Dashboard 2</h3>
        </div>
        <div class="col-md-7 col-12 align-self-center d-none d-md-flex justify-content-end">
            <ol class="breadcrumb mb-0 p-0 bg-transparent">
                <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
                <li class="breadcrumb-item active d-flex align-items-center">Dashboard 2</li>
            </ol>
        </div>
    </div>
    <!-- -------------------------------------------------------------- -->
    <!-- End Bread crumb and right sidebar toggle -->
    <!-- -------------------------------------------------------------- -->
    <!-- Start Row -->
    <div class="row">
        <div class="col-lg-3 col-md-6">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex no-block">
                        <div class="me-3 align-self-center">
                            <span class="lstick d-inline-block align-middle"></span><img src="../assets/images/icon/income.png" alt="Income" />
                        </div>
                        <div class="align-self-center">
                            <h6 class="text-muted mt-2 mb-0">Total Income</h6>
                            <h2>953,000</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex no-block">
                        <div class="me-3 align-self-center">
                            <span class="lstick d-inline-block align-middle"></span><img src="../assets/images/icon/expense.png" alt="Income" />
                        </div>
                        <div class="align-self-center">
                            <h6 class="text-muted mt-2 mb-0">Total Expense</h6>
                            <h2>236,000</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex no-block">
                        <div class="me-3 align-self-center">
                            <span class="lstick d-inline-block align-middle"></span><img src="../assets/images/icon/assets.png" alt="Income" />
                        </div>
                        <div class="align-self-center">
                            <h6 class="text-muted mt-2 mb-0">Total Assets</h6>
                            <h2>987,563</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex no-block">
                        <div class="me-3 align-self-center">
                            <span class="lstick d-inline-block align-middle"></span><img src="../assets/images/icon/staff.png" alt="Income" />
                        </div>
                        <div class="align-self-center">
                            <h6 class="text-muted mt-2 mb-0">Total Staff</h6>
                            <h2>987,563</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Row -->
    <!-- Start row -->
    <div class="row">
        <div class="col-lg-9 d-flex align-items-stretch">
            <div class="card w-100">
                <div class="card-body">
                    <div class="d-md-flex">
                        <div>
                            <h3 class="card-title mb-1">
                                <span class="lstick d-inline-block align-middle"></span>Sales Overview
                            </h3>
                        </div>
                        <div class="ms-auto">
                            <select class="form-select">
                                <option selected="">January 2021</option>
                                <option value="1">February 2021</option>
                                <option value="2">March 2021</option>
                                <option value="3">April 2021</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="bg-info stats-bar">
                    <div class="row">
                        <div class="col-lg-3 col-md-4">
                            <div class="p-3 active">
                                <h6 class="text-white">Total Sales</h6>
                                <h3 class="text-white mb-0">$10,345</h3>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-4">
                            <div class="p-3">
                                <h6 class="text-white">This Month</h6>
                                <h3 class="text-white mb-0">$7,589</h3>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-4">
                            <div class="p-3">
                                <h6 class="text-white">This Week</h6>
                                <h3 class="text-white mb-0">$1,476</h3>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div id="Sales-Overview" class="position-relative" style="height:360px;"></div>
                </div>
            </div>
        </div>
        <!-- -------------------------------------------------------------- -->
        <!-- visit charts-->
        <!-- -------------------------------------------------------------- -->
        <div class="col-lg-3 d-flex align-items-stretch">
            <div class="card w-100">
                <div class="card-body">
                    <h4 class="card-title"><span class="lstick"></span>Visit Separation</h4>
                    <div id="Visit-Separation" style="height:290px; width:100%;" class="d-flex justify-content-center align-items-center"></div>
                    <table class="table vm fs-3">
                        <tr>
                            <td class="b-0">Mobile</td>
                            <td class="text-end font-weight-medium b-0">38.5%</td>
                        </tr>
                        <tr>
                            <td>Tablet</td>
                            <td class="text-end font-weight-medium">30.8%</td>
                        </tr>
                        <tr>
                            <td>Desktop</td>
                            <td class="text-end font-weight-medium">7.7%</td>
                        </tr>
                        <tr>
                            <td>Other</td>
                            <td class="text-end font-weight-medium">23.1%</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- End Row -->
    <!-- Start Row -->
    <div class="row">
        <div class="col-lg-6">
            <div class="card">
                <div class="card-body">
                    <div class="d-md-flex">
                        <div>
                            <h4 class="card-title">
                                <span class="lstick d-inline-block align-middle"></span>Projects of the Month
                            </h4>
                        </div>
                        <div class="ms-auto">
                            <select class="form-select">
                                <option selected="">January 2021</option>
                                <option value="1">February 2021</option>
                                <option value="2">March 2021</option>
                                <option value="3">April 2021</option>
                            </select>
                        </div>
                    </div>
                    <div class="table-responsive mt-3">
                        <table class="table v-middle no-wrap mb-0">
                            <thead>
                                <tr>
                                    <th class="border-0" colspan="2">Assigned</th>
                                    <th class="border-0">Name</th>
                                    <th class="border-0">Priority</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td style="width:50px;">
                                        <span>
                                            <img src="../assets/images/users/1.jpg" alt="user" width="50"
                                                 class="rounded-circle">
                                        </span>
                                    </td>
                                    <td>
                                        <h6 class="mb-0 font-weight-medium">Sunil Joshi</h6><small class="text-muted">Web Designer</small>
                                    </td>
                                    <td>Elite Admin</td>
                                    <td><span class="badge bg-success rounded-pill">Low</span></td>
                                </tr>
                                <tr class="active">
                                    <td>
                                        <span>
                                            <img src="../assets/images/users/2.jpg"
                                                 alt="user" width="50" class="rounded-circle">
                                        </span>
                                    </td>
                                    <td>
                                        <h6 class="mb-0 font-weight-medium">Andrew</h6><small class="text-muted">Project Manager</small>
                                    </td>
                                    <td>Real Homes</td>
                                    <td><span class="badge bg-info rounded-pill">Medium</span></td>
                                </tr>
                                <tr>
                                    <td>
                                        <span>
                                            <img src="../assets/images/users/3.jpg" alt="user" width="50"
                                                 class="rounded-circle">
                                        </span>
                                    </td>
                                    <td>
                                        <h6 class="mb-0 font-weight-medium">Bhavesh patel</h6><small class="text-muted">Developer</small>
                                    </td>
                                    <td>MedicalPro Theme</td>
                                    <td><span class="badge bg-primary rounded-pill">High</span></td>
                                </tr>
                                <tr>
                                    <td>
                                        <span>
                                            <img src="../assets/images/users/4.jpg" alt="user" width="50"
                                                 class="rounded-circle">
                                        </span>
                                    </td>
                                    <td>
                                        <h6 class="mb-0 font-weight-medium">Nirav Joshi</h6><small class="text-muted">Frontend Eng</small>
                                    </td>
                                    <td>Elite Admin</td>
                                    <td><span class="badge bg-danger rounded-pill">Low</span></td>
                                </tr>
                                <tr>
                                    <td>
                                        <span>
                                            <img src="../assets/images/users/5.jpg" alt="user" width="50"
                                                 class="rounded-circle">
                                        </span>
                                    </td>
                                    <td>
                                        <h6 class="mb-0 font-weight-medium">Micheal Doe</h6><small class="text-muted">Content Writer</small>
                                    </td>
                                    <td>Helping Hands</td>
                                    <td><span class="badge bg-success rounded-pill">High</span></td>
                                </tr>
                                <tr>
                                    <td>
                                        <span>
                                            <img src="../assets/images/users/6.jpg" alt="user" width="50"
                                                 class="rounded-circle">
                                        </span>
                                    </td>
                                    <td>
                                        <h6 class="mb-0 font-weight-medium">Johnathan</h6><small class="text-muted">Graphic</small>
                                    </td>
                                    <td>Digital Agency</td>
                                    <td><span class="badge bg-info rounded-pill">High</span></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!-- -------------------------------------------------------------- -->
        <!-- Activity widget find scss into widget folder-->
        <!-- -------------------------------------------------------------- -->
        <div class="col-lg-6">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex align-items-center">
                        <h4 class="card-title">
                            <span class="lstick  d-inline-block align-middle"></span>Activity
                        </h4>
                        <div class="dropdown ms-auto">
                            <a href="#" class="icon-options-vertical link" id="dropdownMenuLink"
                               data-bs-toggle="dropdown" aria-expanded="false"></a>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                <li><a class="dropdown-item" href="#">Action</a></li>
                                <li><a class="dropdown-item" href="#">Another action</a></li>
                                <li><a class="dropdown-item" href="#">Something else here</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="activity-box table-responsive scrollable" style="height: 514px;">
                    <div class="card-body">
                        <!-- Activity item-->
                        <div class="activity-item mb-4 d-flex">
                            <div class="me-3">
                                <img src="../assets/images/users/2.jpg" alt="user"
                                     width="50" class="rounded-circle" />
                            </div>
                            <div class="mt-2">
                                <h5 class="mb-0 font-weight-medium">
                                    Mark Freeman <span class="text-muted fs-3 ms-2">| &nbsp; 6:30 PM</span>
                                </h5>
                                <h6 class="text-muted">uploaded this file </h6>
                                <div class="row">
                                    <div class="col-4">
                                        <img src="../assets/images/icon/zip.png"
                                             alt="user" />
                                    </div>
                                    <div class="col-8 d-flex align-items-center">
                                        <div>

                                            <h5 class="mb-0 font-weight-medium ">Homepage.zip</h5>
                                            <h6>54 MB</h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Activity item-->
                        <!-- Activity item-->
                        <div class="activity-item mb-4 d-flex">
                            <div class="me-3">
                                <img src="../assets/images/users/3.jpg" alt="user"
                                     width="50" class="rounded-circle" />
                            </div>
                            <div class="mt-2">
                                <h5 class="mb-1 font-weight-medium">
                                    Emma Smith <span class="text-muted fs-3 ms-2">| &nbsp; 6:30 PM</span>
                                </h5>
                                <span class="image-list mt-2">
                                    <a href="javascript:void(0)" class="align-middle position-relative">
                                        <img src="../assets/images/users/1.jpg" class="rounded-circle"
                                             alt="user" width="40" />
                                    </a>
                                    <a href="javascript:void(0)" class="align-middle position-relative">
                                        <img src="../assets/images/users/4.jpg" class="rounded-circle"
                                             alt="user" width="40" />
                                    </a>
                                    <a href="javascript:void(0)" class="align-middle position-relative">
                                        <span class="round rounded-circle text-white d-inline-block text-center bg-warning"
                                              style="height: 40px; width: 40px;">C</span>
                                    </a>
                                    <a href="javascript:void(0)" class="align-middle position-relative">
                                        <span class="round rounded-circle text-white d-inline-block text-center bg-danger"
                                              style="height: 40px; width: 40px;">S</span>
                                    </a>
                                    <a href="javascript:void(0)"
                                       class="align-middle position-relative">+3</a>
                                </span>
                            </div>
                        </div>
                        <!-- Activity item-->
                        <!-- Activity item-->
                        <div class="activity-item mb-4 d-flex">
                            <div class="me-3">
                                <img src="../assets/images/users/4.jpg" alt="user"
                                     width="50" class="rounded-circle" />
                            </div>
                            <div class="mt-2">
                                <h5 class="mb-0 font-weight-medium">
                                    David R. Jones <span class="text-muted fs-3 ms-2">| &nbsp; 6:30 PM</span>
                                </h5>
                                <h6 class="text-muted">uploaded this file </h6>
                                <span>
                                    <a href="javascript:void(0)" class="me-2">
                                        <img src="../assets/images/big/img1.jpg" alt="user" width="60">
                                    </a>
                                    <a href="javascript:void(0)" class="me-2">
                                        <img src="../assets/images/big/img2.jpg" alt="user" width="60">
                                    </a>
                                </span>
                            </div>
                        </div>
                        <!-- Activity item-->
                        <!-- Activity item-->
                        <div class="activity-item d-flex mb-2">
                            <div class="me-3">
                                <img src="../assets/images/users/6.jpg" alt="user"
                                     width="50" class="rounded-circle" />
                            </div>
                            <div class="mt-2">
                                <h5 class="mb-1 font-weight-medium">
                                    David R. Jones <span class="text-muted fs-3 ms-2">| &nbsp; 6:30 PM</span>
                                </h5>
                                <h6 class="text-muted">
                                    Commented on<a href="javascript:void(0)">
                                        Test
                                        Project
                                    </a>
                                </h6>
                                <p class="mb-0">
                                    It has survived not only five centuries, but also the leap
                                    into
                                </p>
                            </div>
                        </div>
                        <!-- Activity item-->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Row -->
    <!-- Start row -->
    <div class="row">
        <div class="col-lg-4">
            <div class="card">
                <img class="card-img-top blog-img2" src="../assets/images/big/img1.jpg"
                     alt="Card image cap">
                <div class="card-body">
                    <h3 class="font-normal">Business development of rules 2021</h3>
                    <span class="badge bg-info rounded-pill">Technology</span>
                    <p class="mb-0 mt-3">
                        Titudin venenatis ipsum aciat. Vestibulum ullamcorper quam. nenatis
                        ipsum ac feugiat. Ibulum ullamcorper
                    </p>
                    <div class="d-flex mt-3">
                        <button class="btn ps-0 btn-link ">Read more</button>
                        <div class="ms-auto align-self-center">
                            <a href="javascript:void(0)" class="link m-r-10">
                                <i class="ri-heart-fill"></i>
                            </a>
                            <a href="javascript:void(0)" class="link m-r-10">
                                <i class="ri-share-fill"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-8">
            <div class="card">
                <div class="card-body">
                    <div class="d-md-flex">
                        <h4 class="card-title">
                            <span class="lstick d-inline-block align-middle"></span>Website Visit
                        </h4>
                        <ul class="list-inline mb-0 ms-auto">
                            <li class="list-inline-item">
                                <h6 class="text-success">
                                    <i class="ri-checkbox-blank-circle-fill align-middle font-10 me-2 "></i>Site A
                                    view
                                </h6>
                            </li>
                            <li class="list-inline-item">
                                <h6 class="text-info">
                                    <i class="ri-checkbox-blank-circle-fill align-middle font-10 me-2"></i>Site B view
                                </h6>
                            </li>
                        </ul>
                    </div>
                    <div class="text-center mt-3">
                        <div class="btn-group " role="group" aria-label="Basic example">
                            <button type="button"
                                    class="btn btn-sm btn-outline-secondary shadow-sm fs-2 me-0">
                                PAGEVIEWS
                            </button>
                            <button type="button"
                                    class="btn btn-sm btn-outline-secondary shadow-sm fs-2">
                                REFERRALS
                            </button>
                        </div>
                    </div>
                    <div id="Website-Visit" class="position-relative mt-2"
                         style="height:360px; width:100%;">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End row -->
    <!-- Start row -->
    <div class="row">
        <div class="col-lg-4">
            <div class="card bg-info text-white">
                <div class="card-body">
                    <div class="d-flex">
                        <div class="stats">
                            <h1 class="text-white">3257+</h1>
                            <h6 class="text-white">Twitter Followers</h6>
                            <button class="btn btn-rounded btn-outline btn-light mt-2 fs-3">
                                Check
                                list
                            </button>
                        </div>
                        <div class="stats-icon text-end ms-auto">
                            <i class="ri-twitter-fill display-5 op-3 text-dark"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card bg-primary text-white">
                <div class="card-body">
                    <div class="d-flex">
                        <div class="stats">
                            <h1 class="text-white">6509+</h1>
                            <h6 class="text-white">Facebook Likes</h6>
                            <button class="btn btn-rounded btn-outline btn-light mt-2 fs-3">
                                Check
                                list
                            </button>
                        </div>
                        <div class="stats-icon text-end ms-auto">
                            <i class="ri-facebook-fill display-5 op-3 text-dark"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card bg-success text-white">
                <div class="card-body">
                    <div class="d-flex">
                        <div class="stats">
                            <h1 class="text-white">9062+</h1>
                            <h6 class="text-white">Subscribe</h6>
                            <button class="btn btn-rounded btn-outline btn-light mt-2 fs-3">
                                Check
                                list
                            </button>
                        </div>
                        <div class="stats-icon text-end ms-auto">
                            <i class="ri-mail-line display-5 op-3 text-dark"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Row -->
    <!-- Start row -->
    <div class="row">
        <div class="col-lg-6">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex align-items-center">
                        <h4 class="card-title">
                            <span class="lstick  d-inline-block align-middle"></span>To
                            Do list
                        </h4>
                        <div class="ms-auto">
                            <button class="btn btn-circle btn-success" data-bs-toggle="modal"
                                    data-bs-target="#myModal">
                                <i data-feather="plus" class="feather-sm"></i>
                            </button>
                        </div>
                    </div>


                    <!-- -------------------------------------------------------------- -->
                    <!-- To do list widgets -->
                    <!-- -------------------------------------------------------------- -->
                    <div class="to-do-widget mt-3 common-widget scrollable" style="height: 410px;">
                        <!-- .modal for add task -->
                        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header d-flex">
                                        <h4 class="modal-title">Add Task</h4>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <form>
                                            <div class="mb-3">
                                                <label>Task name</label>
                                                <input type="text" class="form-control"
                                                       placeholder="Enter Task Name">
                                            </div>
                                            <div class="mb-3">
                                                <label>Assign to</label>
                                                <select class="form-select form-control">
                                                    <option selected="">Sachin</option>
                                                    <option value="1">Sehwag</option>
                                                </select>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary"
                                                data-bs-dismiss="modal">
                                            Close
                                        </button>
                                        <button type="button" class="btn btn-success"
                                                data-bs-dismiss="modal">
                                            Submit
                                        </button>
                                    </div>
                                </div>
                                <!-- /.modal-content -->
                            </div>
                            <!-- /.modal-dialog -->
                        </div>
                        <!-- /.modal -->
                        <ul class="list-task todo-list list-group mb-0" data-role="tasklist">
                            <li class="list-group-item border-0 mb-0 py-3 pe-3 ps-0"
                                data-role="task">
                                <div class="form-check form-check-inline w-100">
                                    <input type="checkbox" class="form-check-input danger check-light-danger"
                                           id="inputSchedule" name="inputCheckboxesSchedule">
                                    <label for="inputSchedule" class="form-check-label font-weight-medium">
                                        <span>
                                            Schedule meeting
                                            with
                                        </span><span class="badge bg-danger badge-pill ms-1">Today</span>
                                    </label>
                                </div>
                                <ul class="assignedto list-style-none m-0 ps-4 ms-1 mt-1">
                                    <li class="d-inline-block border-0 me-1">
                                        <img src="../assets/images/users/1.jpg" alt="user"
                                             data-bs-toggle="tooltip" data-bs-placement="top" title=""
                                             data-original-title="Steave" class="rounded-circle">
                                    </li>
                                    <li class="d-inline-block border-0 me-1">
                                        <img src="../assets/images/users/2.jpg" alt="user"
                                             data-bs-toggle="tooltip" data-bs-placement="top" title=""
                                             data-original-title="Jessica" class="rounded-circle">
                                    </li>
                                    <li class="d-inline-block border-0 me-1">
                                        <img src="../assets/images/users/3.jpg" alt="user"
                                             data-bs-toggle="tooltip" data-bs-placement="top" title=""
                                             data-original-title="Priyanka" class="rounded-circle">
                                    </li>
                                    <li class="d-inline-block border-0 me-1">
                                        <img src="../assets/images/users/4.jpg" alt="user"
                                             data-bs-toggle="tooltip" data-bs-placement="top" title=""
                                             data-original-title="Selina" class="rounded-circle">
                                    </li>
                                </ul>
                            </li>
                            <li class="list-group-item border-0 mb-0 py-3 pe-3 ps-0"
                                data-role="task">
                                <div class="form-check form-check-inline w-100">
                                    <input type="checkbox" id="inputCall" class="form-check-input info check-light-info"
                                           name="inputCheckboxesCall">
                                    <label for="inputCall" class="form-check-label font-weight-medium">
                                        <span>
                                            Give Purchase report
                                            to
                                        </span>
                                        <span class="badge bg-info badge-pill ms-1">Yesterday</span>
                                    </label>
                                </div>
                                <ul class="assignedto m-0 ps-4 ms-1 mt-1">
                                    <li class="d-inline-block border-0 me-1">
                                        <img src="../assets/images/users/3.jpg" alt="user"
                                             data-bs-toggle="tooltip" data-bs-placement="top" title=""
                                             data-original-title="Priyanka" class="rounded-circle">
                                    </li>
                                    <li class="d-inline-block border-0 me-1">
                                        <img src="../assets/images/users/4.jpg" alt="user"
                                             data-bs-toggle="tooltip" data-bs-placement="top" title=""
                                             data-original-title="Selina" class="rounded-circle">
                                    </li>
                                </ul>
                            </li>
                            <li class="list-group-item border-0 mb-0 py-3 pe-3 ps-0"
                                data-role="task">
                                <div class="form-check form-check-inline w-100">
                                    <input type="checkbox" id="inputBook" class="form-check-input primary check-light-primary"
                                           name="inputCheckboxesBook">
                                    <label for="inputBook" class="form-check-label font-weight-medium">
                                        <span>
                                            Book flight for
                                            holiday
                                        </span><span class="badge bg-primary badge-pill ms-1">
                                            1
                                            week
                                        </span>
                                    </label>
                                </div>
                                <div class="fs-2 ps-3 d-inline-block ms-2"> 26 jun 2021</div>
                            </li>
                            <li class="list-group-item border-0 mb-0 py-3 pe-3 ps-0"
                                data-role="task">
                                <div class="form-check form-check-inline w-100">
                                    <input type="checkbox" id="inputForward" class="form-check-input warning check-light-warning"
                                           name="inputCheckboxesForward">
                                    <label for="inputForward" class="form-check-label font-weight-medium">
                                        <span>
                                            Forward all
                                            tasks
                                        </span> <span class="badge bg-warning badge-pill ms-1">
                                            2
                                            weeks
                                        </span>
                                    </label>
                                </div>
                                <div class="fs-2 ps-3 d-inline-block ms-2"> 26 jun 2021</div>
                            </li>
                            <li class="list-group-item border-0 mb-0 py-3 pe-3 ps-0"
                                data-role="task">
                                <div class="form-check form-check-inline w-100">
                                    <input type="checkbox" id="inputRecieve" class="form-check-input success check-light-success"
                                           name="inputCheckboxesRecieve">
                                    <label for="inputRecieve" class="form-check-label font-weight-medium">
                                        <span>
                                            Recieve
                                            shipment
                                        </span><span class="badge bg-success badge-pill ms-1">
                                            2
                                            weeks
                                        </span>
                                    </label>
                                </div>
                                <ul class="assignedto list-style-none m-0 ps-4 ms-1 mt-1">
                                    <li class="d-inline-block border-0 me-1">
                                        <img src="../assets/images/users/1.jpg" alt="user"
                                             data-bs-toggle="tooltip" data-bs-placement="top" title=""
                                             data-original-title="Steave" class="rounded-circle">
                                    </li>
                                    <li class="d-inline-block border-0 me-1">
                                        <img src="../assets/images/users/2.jpg" alt="user"
                                             data-bs-toggle="tooltip" data-bs-placement="top" title=""
                                             data-original-title="Jessica" class="rounded-circle">
                                    </li>
                                    <li class="d-inline-block border-0 me-1">
                                        <img src="../assets/images/users/3.jpg" alt="user"
                                             data-bs-toggle="tooltip" data-bs-placement="top" title=""
                                             data-original-title="Priyanka" class="rounded-circle">
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="card">
                <div class="card-body little-profile text-center">
                    <div class="my-3">
                        <img src="../assets/images/users/8.jpg" alt="user" width="128"
                             class="rounded-circle shadow">
                    </div>
                    <h3 class="mb-0">Angela Dominic</h3>
                    <h6 class="text-muted">Web Designer &amp; Developer</h6>
                    <ul class="list-inline social-icons mt-4">
                        <li class="list-inline-item">
                            <a href="javascript:void(0)">
                                <i class="ri-twitter-fill"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="javascript:void(0)">
                                <i class="ri-facebook-box-fill"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="javascript:void(0)">
                                <i class="ri-google-fill"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="javascript:void(0)">
                                <i class="ri-youtube-fill"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="javascript:void(0)">
                                <i class="ri-instagram-line"></i>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="text-center bg-extra-light">
                    <div class="row">
                        <div class="col-6  p-3 border-right">
                            <h4 class="mb-0 font-weight-medium">1099</h4><small>Followers</small>
                        </div>
                        <div class="col-6  p-3">
                            <h4 class="mb-0 font-weight-medium">603</h4><small>Following</small>
                        </div>
                    </div>
                </div>
                <div class="card-body text-center">
                    <a href="javascript:void(0)"
                       class="mt-2 mb-3 waves-effect waves-dark btn btn-success btn-md btn-rounded">
                        Follow
                        me
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!-- End row -->
    <!-- Start row -->
    <div class="row">
        <div class="col-lg-6">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex">
                        <h4 class="card-title">
                            <span class="lstick d-inline-block align-middle"></span>My
                            Contact
                        </h4>
                        <div class="dropdown ms-auto">
                            <a href="#" class="icon-options-vertical link" id="dropdownMenuLink"
                               data-bs-toggle="dropdown" aria-expanded="false"></a>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                <li><a class="dropdown-item" href="#">Action</a></li>
                                <li><a class="dropdown-item" href="#">Another action</a></li>
                                <li><a class="dropdown-item" href="#">Something else here</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="mailbox">
                        <div class="message-center contact-widget message-body position-relative"
                             style="height: 450px;">
                            <a href="javascript:void(0)"
                               class="message-item d-flex align-items-center border-bottom p-3">
                                <span class="user-img position-relative d-inline-block">
                                    <img src="../assets/images/users/1.jpg" alt="user"
                                         class="rounded-circle w-100"> <span class="profile-status rounded-circle online"></span>
                                </span>
                                <div class="w-75 d-inline-block v-middle ps-3">
                                    <h5 class="message-title mb-0 mt-1 font-weight-medium">Pavan kumar</h5> <span class="fs-2 text-nowrap d-block time text-truncate text-bodycolor">info@wrappixel.com</span>
                                </div>
                            </a>
                            <!-- Message -->
                            <a href="javascript:void(0)"
                               class="message-item d-flex align-items-center border-bottom p-3">
                                <span class="user-img position-relative d-inline-block">
                                    <img src="../assets/images/users/2.jpg" alt="user"
                                         class="rounded-circle w-100"> <span class="profile-status rounded-circle busy"></span>
                                </span>
                                <div class="w-75 d-inline-block v-middle ps-3">
                                    <h5 class="message-title mb-0 mt-1 font-weight-medium">Sonu Nigam</h5> <span class="fs-2 text-nowrap d-block time text-truncate text-bodycolor">pamela1987@gmail.com</span>
                                </div>
                            </a>
                            <!-- Message -->
                            <a href="javascript:void(0)"
                               class="message-item d-flex align-items-center border-bottom p-3">
                                <span class="user-img position-relative d-inline-block">
                                    <img src="../assets/images/users/3.jpg" alt="user"
                                         class="rounded-circle w-100"> <span class="profile-status rounded-circle away"></span>
                                </span>
                                <div class="w-75 d-inline-block v-middle ps-3">
                                    <h5 class="message-title mb-0 mt-1 font-weight-medium">Arijit Sinh</h5> <span class="fs-2 text-nowrap d-block time text-truncate text-bodycolor">cruise1298.fiplip@gmail.com</span>
                                </div>
                            </a>
                            <!-- Message -->
                            <a href="javascript:void(0)"
                               class="message-item d-flex align-items-center border-bottom p-3">
                                <span class="user-img position-relative d-inline-block">
                                    <img src="../assets/images/users/4.jpg" alt="user"
                                         class="rounded-circle w-100"> <span class="profile-status rounded-circle offline"></span>
                                </span>
                                <div class="w-75 d-inline-block v-middle ps-3">
                                    <h5 class="message-title mb-0 mt-1 font-weight-medium">Pavan kumar</h5> <span class="fs-2 text-nowrap d-block time text-truncate text-bodycolor">kat@gmail.com</span>
                                </div>
                            </a>
                            <!-- Message -->
                            <a href="javascript:void(0)"
                               class="message-item d-flex align-items-center border-bottom p-3">
                                <span class="user-img position-relative d-inline-block">
                                    <img src="../assets/images/users/2.jpg" alt="user"
                                         class="rounded-circle w-100"> <span class="profile-status rounded-circle busy"></span>
                                </span>
                                <div class="w-75 d-inline-block v-middle ps-3">
                                    <h5 class="message-title mb-0 mt-1 font-weight-medium">Sonu Nigam</h5> <span class="fs-2 text-nowrap d-block time text-truncate text-bodycolor">pamela1987@gmail.com</span>
                                </div>
                            </a>
                            <!-- Message -->
                            <a href="javascript:void(0)" class="message-item d-flex align-items-center p-3">
                                <span class="user-img position-relative d-inline-block">
                                    <img src="../assets/images/users/1.jpg" alt="user"
                                         class="rounded-circle w-100"> <span class="profile-status rounded-circle online"></span>
                                </span>
                                <div class="w-75 d-inline-block v-middle ps-3">
                                    <h5 class="message-title mb-0 mt-1 font-weight-medium">Pavan kumar</h5> <span class="fs-2 text-nowrap d-block time text-truncate text-bodycolor">info@wrappixel.com</span>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Feeds</h4>
                </div>
                <ul class="feeds ps-0">
                    <div class="feed-item mb-2  py-2 ps-4 pe-3">
                        <div class="border-start border-2 border-info d-md-flex align-items-center">
                            <div class="d-flex align-items-center">
                                <a href="javascript:void(0)"
                                   class="ms-3 btn btn-light-info text-info btn-circle fs-5 d-flex align-items-center justify-content-center flex-shrink-0">
                                    <i data-feather="bell" class="feather-sm"></i>
                                </a>
                                <div class="ms-3 text-truncate">
                                    <span class="text-dark font-weight-medium">You have 4 pending tasks.</span>
                                </div>
                            </div>
                            <div class="justify-content-end text-truncate ms-5 ms-md-auto ps-4 ps-md-0">
                                <span class="fs-2 text-muted">Just Now</span>
                            </div>
                        </div>
                    </div>
                    <div class="feed-item mb-2  py-2 ps-4 pe-3">
                        <div class="border-start border-2 border-success d-md-flex align-items-center">
                            <div class="d-flex align-items-center">
                                <a href="javascript:void(0)"
                                   class="ms-3 btn btn-light-success text-success btn-circle fs-5  d-flex align-items-center justify-content-center flex-shrink-0">
                                    <i data-feather="database" class="feather-sm"></i>
                                </a>
                                <div class="ms-3 text-truncate">
                                    <span class="text-dark font-weight-medium">Server #1 overloaded</span>
                                </div>
                            </div>
                            <div class="justify-content-end text-truncate ms-5 ms-md-auto ps-4 ps-md-0">
                                <span class="fs-2 text-muted">2 Hours ago</span>
                            </div>
                        </div>
                    </div>
                    <div class="feed-item mb-2  py-2 ps-4 pe-3">
                        <div class="border-start border-2 border-warning d-md-flex align-items-center">
                            <div class="d-flex align-items-center">
                                <a href="javascript:void(0)"
                                   class="ms-3 btn btn-light-warning text-warning btn-circle fs-5 d-flex align-items-center justify-content-center flex-shrink-0">
                                    <i data-feather="shopping-cart" class="feather-sm"></i>
                                </a>
                                <div class="ms-3 text-truncate">
                                    <span class="text-dark font-weight-medium">New order received.</span>
                                </div>
                            </div>
                            <div class="justify-content-end text-truncate ms-5 ms-md-auto ps-4 ps-md-0">
                                <span class="fs-2 text-muted">31 May</span>
                            </div>
                        </div>
                    </div>
                    <div class="feed-item mb-2  py-2 ps-4 pe-3">
                        <div class="border-start border-2 border-danger d-md-flex align-items-center">
                            <div class="d-flex align-items-center">
                                <a href="javascript:void(0)"
                                   class="ms-3 btn btn-light-danger text-danger btn-circle fs-5 d-flex align-items-center justify-content-center flex-shrink-0">
                                    <i data-feather="users" class="feather-sm"></i>
                                </a>
                                <div class="ms-3 text-truncate">
                                    <span class="text-dark font-weight-medium">New user registered.</span>
                                </div>
                            </div>
                            <div class="justify-content-end text-truncate ms-5 ms-md-auto ps-4 ps-md-0">
                                <span class="fs-2 text-muted">30 May</span>
                            </div>
                        </div>
                    </div>
                    <div class="feed-item mb-2  py-2 ps-4 pe-3">
                        <div class="border-start border-2 border-primary d-md-flex align-items-center">
                            <div class="d-flex align-items-center">
                                <a href="javascript:void(0)"
                                   class="ms-3 btn btn-light-primary text-primary btn-circle fs-5 d-flex align-items-center justify-content-center flex-shrink-0">
                                    <i data-feather="users" class="feather-sm"></i>
                                </a>
                                <div class="ms-3 text-truncate">
                                    <span class="text-dark font-weight-medium">New Version just arrived.</span>
                                </div>
                            </div>
                            <div class="justify-content-end text-truncate ms-5 ms-md-auto ps-4 ps-md-0">
                                <span class="fs-2 text-muted">27 May</span>
                            </div>
                        </div>
                    </div>
                    <div class="feed-item mb-2  py-2 ps-4 pe-3">
                        <div class="border-start border-2 border-info d-md-flex align-items-center">
                            <div class="d-flex align-items-center">
                                <a href="javascript:void(0)"
                                   class="ms-3 btn btn-light-info text-info btn-circle fs-5 d-flex align-items-center justify-content-center flex-shrink-0">
                                    <i data-feather="bell" class="feather-sm"></i>
                                </a>
                                <div class="ms-3 text-truncate">
                                    <span class="text-dark font-weight-medium">You have 4 pending tasks.</span>
                                </div>
                            </div>
                            <div class="justify-content-end text-truncate ms-5 ms-md-auto ps-4 ps-md-0">
                                <span class="fs-2 text-muted">30 May</span>
                            </div>
                        </div>
                    </div>
                    <div class="feed-item mb-2  py-2 ps-4 pe-3">
                        <div class="border-start border-2 border-primary d-md-flex align-items-center">
                            <div class="d-flex align-items-center">
                                <a href="javascript:void(0)"
                                   class="ms-3 btn btn-light-primary text-primary btn-circle fs-5 d-flex align-items-center justify-content-center flex-shrink-0">
                                    <i data-feather="users" class="feather-sm"></i>
                                </a>
                                <div class="ms-3 text-truncate">
                                    <span class="text-dark font-weight-medium">New Version just arrived.</span>
                                </div>
                            </div>
                            <div class="justify-content-end text-truncate ms-5 ms-md-auto ps-4 ps-md-0">
                                <span class="fs-2 text-muted">27 May</span>
                            </div>
                        </div>
                    </div>
                </ul>
            </div>
        </div>
    </div>
    <!-- End row -->
    <!-- Start row -->
    <div class="row">
        <div class="col-lg-6">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">
                        <span class="lstick d-inline-block align-middle"></span>Recent
                        Comments
                    </h4>
                </div>
                <div class="comment-widgets scrollable mb-2 common-widget" style="height: 450px;">
                    <!-- Comment Row -->
                    <div class="d-flex flex-row comment-row border-bottom p-3">
                        <div class="p-2">
                            <span class="">
                                <img src="../assets/images/users/1.jpg" class="rounded-circle" alt="user"
                                     width="50">
                            </span>
                        </div>
                        <div class="comment-text w-100 p-3">
                            <h5 class="font-weight-medium">James Anderson</h5>
                            <p class="mb-1 fs-3 text-muted">
                                Lorem Ipsum is simply dummy text of the printing
                                and type etting industry
                            </p>
                            <div class="comment-footer d-md-flex align-items-center mt-2">
                                <span class="badge bg-light-info text-info rounded-pill font-weight-medium fs-1 py-1">Pending</span>
                                <span class="action-icons">
                                    <a href="javascript:void(0)" class="ps-3">
                                        <i class="ri-edit-box-line fs-6"></i>
                                    </a>
                                    <a href="javascript:void(0)" class="ps-3"><i class="ri-check-line fs-6"></i></a>
                                    <a href="javascript:void(0)" class="ps-3"><i class="ri-heart-line fs-6"></i></a>
                                </span>
                                <span class="text-muted ms-auto fw-normal fs-2">April 14, 2021</span>
                            </div>
                        </div>
                    </div>
                    <!-- Comment Row -->
                    <div class="d-flex flex-row comment-row border-bottom active p-3">
                        <div class="p-2">
                            <span>
                                <img src="../assets/images/users/2.jpg" class="rounded-circle" alt="user"
                                     width="50">
                            </span>
                        </div>
                        <div class="comment-text active w-100 p-3">
                            <h5 class="font-weight-medium">Michael Jorden</h5>
                            <p class="mb-1 fs-3 text-muted">
                                Lorem Ipsum is simply dummy text of the printing
                                and type setting industry.
                            </p>
                            <div class="comment-footer d-md-flex align-items-center mt-2 ">
                                <span class="badge bg-light-success text-success rounded-pill font-weight-medium fs-1 py-1">Approved</span>
                                <span class="action-icons active">
                                    <a href="javascript:void(0)" class="ps-3">
                                        <i class="ri-edit-box-line fs-6"></i>
                                    </a>
                                    <a href="javascript:void(0)" class="ps-3"><i class="ri-close-circle-line fs-6"></i></a>
                                    <a href="javascript:void(0)" class="ps-3">
                                        <i class="ri-heart-line fs-6 text-danger"></i>
                                    </a>
                                </span>
                                <span class="text-muted ms-auto fw-normal fs-2">April 14, 2021</span>
                            </div>
                        </div>
                    </div>
                    <!-- Comment Row -->
                    <div class="d-flex flex-row comment-row border-bottom p-3">
                        <div class="p-2">
                            <span>
                                <img src="../assets/images/users/3.jpg" class="rounded-circle" alt="user"
                                     width="50">
                            </span>
                        </div>
                        <div class="comment-text w-100 p-3">
                            <h5 class="font-weight-medium">Johnathan Doeting</h5>
                            <p class="mb-1 fs-3 text-muted">
                                Lorem Ipsum is simply dummy text of the printing
                                and type setting industry.
                            </p>
                            <div class="comment-footer d-md-flex align-items-center mt-2">
                                <span class="badge bg-light-danger text-danger rounded-pill font-weight-medium fs-1 py-1">Rejected</span>
                                <span class="action-icons">
                                    <a href="javascript:void(0)" class="ps-3">
                                        <i class="ri-edit-box-line fs-6"></i>
                                    </a>
                                    <a href="javascript:void(0)" class="ps-3"><i class="ri-check-line fs-6"></i></a>
                                    <a href="javascript:void(0)" class="ps-3"><i class="ri-heart-line fs-6"></i></a>
                                </span>
                                <span class="text-muted ms-auto fw-normal fs-2">April 14, 2021</span>
                            </div>
                        </div>
                    </div>
                    <!-- Comment Row -->
                    <div class="d-flex flex-row comment-row p-3">
                        <div class="p-2">
                            <span>
                                <img src="../assets/images/users/4.jpg" class="rounded-circle" alt="user"
                                     width="50">
                            </span>
                        </div>
                        <div class="comment-text w-100 p-3">
                            <h5 class="font-weight-medium">James Anderson</h5>
                            <p class="mb-1 fs-3 text-muted">
                                Lorem Ipsum is simply dummy text of the printing
                                and type setting industry.
                            </p>
                            <div class="comment-footer d-md-flex align-items-center mt-2">
                                <span class="badge bg-light-info text-info rounded-pill font-weight-medium fs-1 py-1">Pending</span>
                                <span class="action-icons">
                                    <a href="javascript:void(0)" class="ps-3">
                                        <i class="ri-edit-box-line fs-6"></i>
                                    </a>
                                    <a href="javascript:void(0)" class="ps-3"><i class="ri-check-line fs-6"></i></a>
                                    <a href="javascript:void(0)" class="ps-3"><i class="ri-heart-line fs-6"></i></a>
                                </span>
                                <span class="text-muted ms-auto fw-normal fs-2">April 14, 2021</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">
                        <span class="lstick d-inline-block align-middle"></span>Recent
                        Chats
                    </h4>
                    <div class="chat-box scrollable" style="height: 357px;">
                        <!--chat Row -->
                        <ul class="chat-list m-0 p-0">
                            <!--chat Row -->
                            <li class="mt-4">
                                <div class="chat-img d-inline-block align-top">
                                    <img src="../assets/images/users/1.jpg" alt="user"
                                         class="rounded-circle" />
                                </div>
                                <div class="chat-content ps-3 d-inline-block">
                                    <h5 class="text-muted fs-3 font-weight-medium">James Anderson</h5>
                                    <div class="message font-weight-medium fs-3 bg-light-info d-inline-block mb-2 text-dark">
                                        Lorem Ipsum
                                        is simply dummy text of the printing & type setting industry.
                                    </div>
                                </div>
                                <div class="chat-time d-inline-block text-end fs-2 font-weight-medium">10:56 am</div>
                            </li>
                            <!--chat Row -->
                            <li class="mt-4">
                                <div class="chat-img d-inline-block align-top">
                                    <img src="../assets/images/users/2.jpg" alt="user"
                                         class="rounded-circle" />
                                </div>
                                <div class="chat-content ps-3 d-inline-block">
                                    <h5 class="text-muted fs-3 font-weight-medium">Bianca Doe</h5>
                                    <div class="message font-weight-medium fs-3 bg-light-success d-inline-block mb-2 text-dark">
                                        It’s
                                        Great opportunity to work.
                                    </div>
                                </div>
                                <div class="chat-time d-inline-block text-end fs-2 font-weight-medium">10:57 am</div>
                            </li>
                            <!--chat Row -->
                            <li class="odd mt-4">
                                <div class="chat-content ps-3 d-inline-block text-end">
                                    <div class="message font-weight-medium fs-3 bg-light-inverse d-inline-block mb-2 text-dark">
                                        I would
                                        love to join the team.
                                    </div>
                                </div>
                                <div class="chat-time d-inline-block text-end fs-2 font-weight-medium">10:58 am</div>
                            </li>
                            <!--chat Row -->
                            <li class="odd mt-4">
                                <div class="chat-content ps-3 d-inline-block text-end">
                                    <div class="message font-weight-medium fs-3 bg-light-inverse d-inline-block mb-2 text-dark">
                                        Whats
                                        budget of the new project.
                                    </div>
                                </div>
                                <div class="chat-time d-inline-block text-end fs-2 font-weight-medium">10:59 am</div>
                            </li>
                            <!--chat Row -->
                            <li class="mt-4">
                                <div class="chat-img d-inline-block align-top">
                                    <img src="../assets/images/users/3.jpg" alt="user"
                                         class="rounded-circle" />
                                </div>
                                <div class="chat-content ps-3 d-inline-block">
                                    <h5 class="text-muted fs-3 font-weight-medium">Angelina Rhodes</h5>
                                    <div class="message font-weight-medium fs-3 bg-light-primary d-inline-block mb-2 text-dark">
                                        Well we
                                        have good budget for the project
                                    </div>
                                </div>
                                <div class="chat-time d-inline-block text-end fs-2 font-weight-medium">11:00 am</div>
                            </li>
                            <!--chat Row -->
                            <li class="mt-4">
                                <div class="chat-img d-inline-block align-top">
                                    <img src="../assets/images/users/1.jpg" alt="user"
                                         class="rounded-circle" />
                                </div>
                                <div class="chat-content ps-3 d-inline-block">
                                    <h5 class="text-muted fs-3 font-weight-medium">James Anderson</h5>
                                    <div class="message font-weight-medium fs-3 bg-light-info d-inline-block mb-2 text-dark">
                                        Lorem Ipsum
                                        is simply dummy text of the printing &
                                        type setting industry.
                                    </div>
                                </div>
                                <div class="chat-time d-inline-block text-end fs-2 font-weight-medium">10:56 am</div>
                            </li>
                            <!--chat Row -->
                            <li class="odd mt-4">
                                <div class="chat-content ps-3 d-inline-block text-end">
                                    <div class="message font-weight-medium fs-3 bg-light-inverse d-inline-block mb-2 text-dark">
                                        Whats
                                        budget of the new project.
                                    </div>
                                </div>
                                <div class="chat-time d-inline-block text-end fs-2 font-weight-medium">10:59 am</div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="card-body border-top">
                    <div class="row">
                        <div class="col-8">
                            <textarea placeholder="Type your message here"
                                      class="form-control border-0" style="resize: none"></textarea>
                        </div>
                        <div class="col-4 text-end">
                            <button type="button" class="btn btn-info btn-circle btn-lg">
                                <i data-feather="send"
                                   class=""></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End row -->
</div>