@{
    ViewData["Title"] = "Home Page";
}

<div class="container-fluid">
    <div class="row page-titles">
        <div class="col-md-5 col-12 align-self-center">
            <h3 class="text-themecolor mb-0">لوحة التحكم</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3 col-md-6">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex no-block">
                        <div class="me-3 align-self-center">
                            <span class="lstick d-inline-block align-middle"></span><img src="~/admin-pro/assets/images/icon/income.png" alt="Income" />
                        </div>
                        <div class="align-self-center">
                            <h6 class="text-muted mt-2 mb-0">مجموع الشهادات</h6>
                            <h2>953,000</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex no-block">
                        <div class="me-3 align-self-center">
                            <span class="lstick d-inline-block align-middle"></span><img src="~/admin-pro/assets/images/icon/expense.png" alt="Income" />
                        </div>
                        <div class="align-self-center">
                            <h6 class="text-muted mt-2 mb-0">مجموع الموافق عليهم</h6>
                            <h2>236,000</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex no-block">
                        <div class="me-3 align-self-center">
                            <span class="lstick d-inline-block align-middle"></span><img src="~/admin-pro/assets/images/icon/assets.png" alt="Income" />
                        </div>
                        <div class="align-self-center">
                            <h6 class="text-muted mt-2 mb-0">مجموع المرفوضة</h6>
                            <h2>987,563</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex no-block">
                        <div class="me-3 align-self-center">
                            <span class="lstick d-inline-block align-middle"></span><img src="~/admin-pro/assets/images/icon/staff.png" alt="Income" />
                        </div>
                        <div class="align-self-center">
                            <h6 class="text-muted mt-2 mb-0">مجموع المعلقة</h6>
                            <h2>987,563</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>